* {
  margin: 0;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(#27252A, #5c526e);
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 48px;
  color: #e8dbff;
}

svg {
  height: 150px;
}
